<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/schemas/v4/wxs">
  <!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
	<Product Id="*" Name="PDFMergeInstaller" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="d83a72aa-789c-48c0-8a97-cdc104f8757f">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.PDFMergeDesktop.ProjectName) is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="$(var.PDFMergeDesktop.ProjectName)" Level="1">
			<ComponentGroupRef Id="ProductComponents"/>
      <ComponentGroupRef Id="StartMenuComponents"/>
		</Feature>

    <Icon Id="ShortcutIcon" SourceFile="$(var.PDFMergeDesktop.ProjectDir)pdfmerge.ico"/>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.PDFMergeDesktop.ProjectName)" />
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.PDFMergeDesktop.ProjectName)" />
      </Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{11EC48BC-A832-4B75-A62A-F68A8899E70A}">
        <File Source="$(var.PdfMergeDesktop.TargetDir)$(var.PdfMergeDesktop.ProjectName).exe" Id="ProductExe"/>
      </Component>
      <Component Id="TextSharpDLL" Guid="{BD59BA5F-8C8A-4CEB-B47F-4029A3FBA2DC}">
        <File Source="$(var.PdfMergeDesktop.OutputPath)iTextSharp.dll" />
      </Component>
      <Component Id="AutomationDLL" Guid="{09AD13DE-2B2A-4FC6-823C-0CE897FFDB30}">
        <File Source="$(var.PdfMergeDesktop.OutputPath)System.Management.Automation.dll" />
      </Component>
		</ComponentGroup>
    <ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{B50AAC6F-13D9-4200-AFA7-01BA2559BE18}">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.PDFMergeDesktop.ProjectName)"
                  Description="Quickly merge multiple PDF's into a single file."
                  Target="[#ProductExe]"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="ShortcutIcon"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\WalkeDesigns\$(var.PDFMergeDesktop.ProjectName)"
                       Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>